[package]
authors = ["Henrik AlseÃÅr <henrik.alser@me.com>"]
edition = "2021"
name = "rp-rtic"
version = "0.1.0"

[dependencies]
cortex-m = "0.7.3"
cortex-m-rtic = "1.0.0"
rp2040-monotonic = "1.0.0"

embedded-hal = { version = "0.2.5", features=["unproven"] }

defmt = { version = "0.3.0", features = ["encoding-rzcobs"] }
defmt-rtt = "0.3.0"
panic-probe = { version = "0.3.0", features = ["print-defmt"] }

usb-device= "0.2.8"
usbd-serial = "0.1.1"
usbd-hid = "0.5.1"

dap-rs = { path = "../debug-traits", features = ["defmt"] }

# We're using a Pico by default on this template
rp-pico = "0.2.0"
replace_with = { version = "0.1.7", default-features = false, features = ["panic_abort"] }
bitflags = "1.3.2"

# but you can use any BSP. Uncomment this to use the pro_micro_rp2040 BSP instead
# sparkfun-pro-micro-rp2040 = "0.1.0"

# If you're not going to use a Board Support Package you'll need these:
# rp2040-hal = { version="0.3.0", features=["rt"] }
# rp2040-boot2 = "0.2.0"

# cargo build/run
[profile.dev]
codegen-units = 1
debug = 2
debug-assertions = true
incremental = false
opt-level = 3
overflow-checks = true

# cargo build/run --release
[profile.release]
codegen-units = 1
debug = 2
debug-assertions = false
incremental = false
lto = 'fat'
opt-level = 's'
overflow-checks = false

# do not optimize proc-macro crates = faster builds from scratch
[profile.dev.build-override]
codegen-units = 8
debug = false
debug-assertions = false
opt-level = 0
overflow-checks = false

[profile.release.build-override]
codegen-units = 8
debug = false
debug-assertions = false
opt-level = 0
overflow-checks = false

# cargo test
[profile.test]
codegen-units = 1
debug = 2
debug-assertions = true
incremental = false
opt-level = 3
overflow-checks = true

# cargo test --release
[profile.bench]
codegen-units = 1
debug = 2
debug-assertions = false
incremental = false
lto = 'fat'
opt-level = 3
