[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
xshell = "0.2"
clap = { version = "4", features = ["derive"] }
serialport = "4.2"
